{{> sidebar}}

<div class="body-notes">
    {{#each notes}}

        <div class="title folder">{{@index}} {{folder}}</div>

        {{#each note}}

            <a id="{{this.id}}"></a>
            <div class="title note">{{this.name}}</div>
            <div class="text-body">
                <p>{{nl2br this.text}}</p>
            </div>

        {{/each}}
    {{/each}}
</div>